/* Image Designing Propoerties */


body, html {
    height: 100%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(56, 155, 145)
}

.alternate-body {
    background: url("../images/greens.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card-img-top{
    max-height: 250px;
    min-height: 150px;
    object-fit: cover;
    /* width: 30vw;
    height: 30vw; */
    width: 100%!important;
    height: 100%!important;
 }

 /* .card-img-top {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
} */

 .space{
    padding-top: 5px; 
    padding-bottom: 5px;
}


.section-header {
    color: #4F2D82;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    text-align: left;
    background-color: white;
}

.purple {
    color: #4F2D82;
}

.navbar-custom a {
    color: #4F2D82;
}

/* overlay an opaque dark color so the text will still show up */
.jumbotron {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        color: #4F2D82;
        background-image: url("../images/greens.jpg");
        background-size: cover;
        min-height: 350px;
        margin: 0px;
        position: relative;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 9, 58, 0.5);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}
  
@media (max-width: 991.98px) {
    .main-panel {
      padding-top: 80px;
    }
}
